body {
    position: relative;
    z-index: 1;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); 
    margin-bottom: 6vh;
    top: -24vh;
    width: auto;
}

#logo {
    position: relative;
    height: 11vh;
    width: 11vh;
    top: 10px;
    left: 10px;
}

.video {
    background-color: #fee1dd00;
    margin: 100px 0px 30px 50px;
    height: 360px;
    width: 640px;
    position: relative;
    left: -60px;
    top: -30px;
    z-index: 1;
}

#overlay {
    height: 361px;
    width: 481px;
    background-color: #f55f084f;
    position: relative;
    z-index: 50;
    top: -947px;
    left: 59px;
    visibility: hidden;
    filter: blur(2px);
}

#horse_vision {
    height: 360px;
    width: 100px;
    background-color: #000000;
    position: relative;
    z-index: 50;
    top: -1308px;
    left: 270px;
    visibility: hidden;
}

.text {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    position: relative;
    top: 9vh;
}

.text1 {
    font-family: 'Comfortaa', cursive;
}

#h1name {
    font-size: 75px;
    top: 160px;
    color: cornsilk;
}

#byme {
    font-size: 25px;
    top: 110px;
}

.info {
    background-color: #effdff;
    margin: 100px 50px 75px 0px;
    border: solid #c6f9ff 1px;
    border-radius: 5px;
    height: 450px;
    width: 500px;
    box-shadow: 0px 7px 25px 3px 	#b5b6b483;
    position: relative;
    left: 630px;
    top: -430px;
    font-family: 'Comfortaa', cursive;
}

#infoname {
    text-align: center;
    font-size: 25px;
}

#information {
    font-size: 20px;
    margin: 20px;
}
.background {
    background-color: rgba(255, 153, 0, 0);
    padding: 0px;
    margin: 5px auto;
    width: 1150px;
    height: 500px;
}
.images {
    height: 85px;
    width: 85px;
    border-radius: 100px;
    margin: 0px 15px 30px 15px;
    position: relative;
    top: -700px;
    transition: all .2s ease-in-out;

}

#cancel {
    left: -15px;
    top: -1290px;
}

#sparrow {
    left: -30px;
    top: -1290px;
    border: solid 1px turquoise;
}

#horse {
    left: -50px;
    top: -1290px;
}

#snake {
    left: -70px;
    top: -1290px;
}

#dog {
    left: -90px;
    top: -1290px;
}

#cow {
    left: -110px;
    top: -1290px;
    border-radius: 100px;
    border: solid 1px #9446b8;;
}

.images:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 25px 10px	#fff1f1;
}

#logo:hover {
    transform: scale(1.1);
}

#quiz_section {
    background-color: #ffffff;
    margin: 0px;
    position: relative; 
    width: 100%;
    height: 700px;
    top: -1200px;
}

.grid {
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}

#quiz_banner {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 15px;
}
 
#score {
    color: #01BBFF;
    text-align: center;
    font-size: 30px;
}
 
#question {
    font-size: 30px;
    color: #01BBFF;
    text-align: center;
}
 
.buttons {
    margin: 30px auto;
    width: 1175px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #01BBFF;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    margin: 10px 40px 10px 0px;
    padding: 5px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #00eeff;
}

 
#progress {
    color: #2b2b2b;
    font-size: 18px;
}

#results {
    text-align: center;
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    font-size: 60px;
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
}

#grade2{
    font-size: 24px;
    text-align: center;
    margin: 0px auto;
}