/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    body {
        position: relative;
        z-index: 1;
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        width: auto;
        height: auto;
        margin: 0px;
    }

    #logo {
        position: relative;
        width: 70px;
        height: auto;
        top: 10px;
        left: 10px;
    }

    .video {
        /* background-color: #ff1e00; */
        width: 100%;
        position: relative;
        top: 0px;
        z-index: 1;
        overflow: hidden;
        margin: 0px auto;
    }

    #video1 {
        height: 280px;
    }

    .text {
        font-family: 'Comfortaa', cursive;
        text-align: center;
        position: relative;
    }
    
    .text1 {
        font-family: 'Comfortaa', cursive;
    }
    
    #h1name {
        font-size: 50px;
        color: cornsilk;
    }
    
    #byme {
        font-size: 20px;
        top: -20px;
    }

    #video_demo {
        width: 100%;
    }

    #overlay {
        height: 1500px;
        width: 100%;
        background-color: #f55f084f;
        position: relative;
        z-index: 9111111111;
        top: -550px;
        visibility: hidden;
        filter: blur(2px);
    }

    #horse_vision {
        height: 2000px;
        width: 20%;
        background-color: #000000;
        position: relative;
        z-index: 2222222222;
        margin: 0px auto;
        top: -2350px;
        visibility: hidden;
    }

    .info {
        background-color: #ffffff;
        /* margin: 0px auto; */
        /* border: solid #c6f9ff 1px; */
        /* border-radius: 5px; */
        width: 100%;
        height: auto;
        position: relative;
        font-family: 'Comfortaa', cursive;
        text-align: left;
        margin-top: 15px;
        /* padding: 5px; */
        /* top: -910px; */
    }

    #infoname {
        text-align: center;
        position: relative;
        font-size: 25px;
        top: 10px;

    }
    
    #information {
        font-size: 20px;
        margin: 20px;
    }

    .background {
        /* background-color: rgb(72, 255, 0); */
        margin: auto;
        height: auto;
        width: 100%;
        position: relative;
    }

    .images {
        /* height: 40px; */
        width: 18%;
        border-radius: 100px;
        position: relative;
        transition: all .2s ease-in-out;
        margin: 0px;
        z-index: 7777777777;
    }

    .buttons1 {
        position: relative;
        width: 100%;
        margin: 0px auto;
        /* background-color: #ae00ff; */
        /* top: -965px; */
        left: -10px;
    }

    #cancel {
        float: left;
        height: auto;
        width: 7%;
        top: -1200px;
        z-index: 11111111111;
        margin: 10px;
    }

    #sparrow {
        left: 20px;
        top: 3px;
        border: solid 1px turquoise;
    }
    
    #horse {
        left: 20px;
    }
    
    #snake {
        left: 20px;
    }
    
    #dog {
        left: 20px;
    }
    
    #cow {
        left: 20px;
        border-radius: 100px;
        border: solid 1px #9446b8;
        top: 3px;
    }

    .images:hover {
        transform: scale(1.1);
        box-shadow: 0px 2px 25px 10px	#fff1f1;
    }
    
    #logo:hover {
        transform: scale(1.1);
    }

    .video_buttons {
        margin-left: 0px;
    }

    #quiz_section {
        background-color: #ff000000;
        position: relative; 
        width: auto;
        height: auto;
        /* margin-top: 15px; */
        /* top: -800px; */
        }
    
    .grid {
        width: 100%;
        height: auto;
        margin: 0px auto;
        position: relative;
        top: 0px;
        background-color: #ffffff;
        /* padding: 10px; */
    }
    
    #quiz_banner {
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        font-size: 30px;
        width: 95%;
        margin: 0px auto;
        text-align: center;
        position: relative;
        color: #ffffff;
        /* padding: 2px 0px; */
        border-radius: 10px;
        top: 5px;
    }
     
    #score {
        color: #01BBFF;
        text-align: center;
        font-size: 30px;
    }
     
    #question {
        font-size: 30px;
        color: #01BBFF;
        text-align: center;
    }
     
    .buttons {
        margin: 0px auto;
        /* background-color: #9446b8; */
        width: 240px;
    }
     
    #btn0, #btn1, #btn2, #btn3 {
        background-color: #01BBFF;
        width: 240px;
        font-size: 20px;
        color: #fff;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }

    #name_quiz{
        margin: 0px auto;
    }
     
    #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
        cursor: pointer;
        background-color: #00eeff;
    }
     
    #progress {
        color: #2b2b2b;
        font-size: 18px;
        text-align: center;
        margin: 0px;
        margin-top: 30px;
        position: relative;
        top: -10px;
    }
    
    #results {
        text-align: center;
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        font-size: 30px;
        color: #ffffff;
        /* padding: 30px; */
        border-radius: 10px;
        width: 90%;
        margin: 0px auto;
        position: relative;
        top: 10px;
    }

    .gifs1 {
        width: 80%;
        position: relative;
        /* top: -40px; */
    }

    .gif {
        width: 90%;
    }
    
    #grade2{
        font-size: 24px;
        text-align: center;
        margin: 0px auto;
    }
}