/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    body {
        position: relative;
        z-index: 1;
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        width: auto;
        height: auto;
        margin: 0px;
    }

    #logo {
        position: relative;
        width: 70px;
        height: auto;
        top: 10px;
        left: 10px;
    }

    .video {
        background-color: #ff1e0000;
        /* height: 180px; */
        width: 90%;
        position: relative;
        top: -35px;
        z-index: 1;
        overflow: hidden;
        margin: 0 auto;
    }

    .text {
        font-family: 'Comfortaa', cursive;
        text-align: center;
        position: relative;
    }
    
    .text1 {
        font-family: 'Comfortaa', cursive;
    }
    
    #h1name {
        font-size: 50px;
        color: cornsilk;
    }
    
    #byme {
        font-size: 20px;
        top: -20px;
    }

    #video_demo {
        left: 0px;
        top: 0px;
    }

    #overlay {
        height: 500px;
        width: 500px;
        background-color: #f55f084f;
        position: relative;
        z-index: 111111111;
        top: -450px;
        left: 0px;
        visibility: hidden;
        filter: blur(2px);
    }

    #horse_vision {
        height: 400px;
        width: 100px;
        background-color: #000000;
        position: relative;
        z-index: 2222222222;
        top: -900px;
        left: 210px;
        visibility: hidden;
    }

    .info {
        background-color: #effdff;
        margin: 0px auto;
        border: solid #c6f9ff 1px;
        border-radius: 5px;
        width: 97%;
        height: auto;
        position: relative;
        font-family: 'Comfortaa', cursive;
        text-align: center;
        top: -910px;
    }

    #infoname {
        text-align: center;
        font-size: 25px;
    }
    
    #information {
        font-size: 20px;
        margin: 20px;
    }

    .images {
        /* height: 40px; */
        width: 15%;
        border-radius: 100px;
        position: relative;
        transition: all .2s ease-in-out;
        margin: 0px;
    }

    .buttons1 {
        position: relative;
        width: 85%;
        margin: 0px auto;
        /* background-color: #ae00ff; */
        top: -965px;
        left: -10px;
    }

    #cancel {
        left: 250px;
        height: auto;
        width: 7%;
        top: -1115px;
        z-index: 11111111111;
    }

    #sparrow {
        left: 10px;
        top: 0px;
        border: solid 1px turquoise;
    }
    
    #horse {
        left: 15px;
        /* top: -970px; */
    }
    
    #snake {
        left: 20px;
        /* top: -970px; */
    }
    
    #dog {
        left: 25px;
        /* top: -970px; */
    }
    
    #cow {
        left: 30px;
        /* top: -970px; */
        border-radius: 100px;
        border: solid 1px #9446b8;;
    }

    .images:hover {
        transform: scale(1.1);
        box-shadow: 0px 2px 25px 10px	#fff1f1;
    }
    
    #logo:hover {
        transform: scale(1.1);
    }

    .video_buttons{
        overflow: visible;
        margin-left: 7%;
    }

    #quiz_section {
        background-color: #ff000000;
        position: relative; 
        width: auto;
        height: auto;
        top: -800px;
        }
    
    .grid {
        width: 94%;
        height: auto;
        margin: 0px auto;
        position: relative;
        top: 0px;
        background-color: #ffffff;
        padding: 10px;
    }
    
    #quiz_banner {
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        font-size: 30px;
        text-align: center;
        color: #ffffff;
        padding: 2px 0px;
        border-radius: 15px;
    }
     
    #score {
        color: #01BBFF;
        text-align: center;
        font-size: 30px;
    }
     
    #question {
        font-size: 30px;
        color: #01BBFF;
        text-align: center;
    }
     
    .buttons {
        margin: 0px auto;
        /* background-color: #9446b8; */
        width: 240px;
    }
     
    #btn0, #btn1, #btn2, #btn3 {
        background-color: #01BBFF;
        width: 240px;
        font-size: 20px;
        color: #fff;
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
    }
     
    #btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
        cursor: pointer;
        background-color: #00eeff;
    }
    
     
    #progress {
        color: #2b2b2b;
        font-size: 18px;
        text-align: center;
    }
    
    #results {
        text-align: center;
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        font-size: 30px;
        color: #ffffff;
        padding: 30px;
        border-radius: 15px;
    }
    
    #grade2{
        font-size: 24px;
        text-align: center;
        margin: 0px auto;
    }
}

/* Media Queries: Tabled Portrait
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
} */